<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=mvc.syncfusion.com;Initial Catalog=AdventureWorks;User Id=ssrs1;password=RDLReport1;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Syncfusion.Compression.Base"/>
        <add assembly="Syncfusion.XlsIO.Base"/>
        <add assembly="Syncfusion.Pdf.Base"/>
        <add assembly="Syncfusion.DocIO.Base"/>
        
        <add assembly="Syncfusion.Linq.Base"/>
        <add assembly="Syncfusion.EJ"/>              
        <add assembly="Syncfusion.EJ.ReportViewer"/>
        <add assembly="Syncfusion.Shared.WPF"/>        
        <add assembly="Syncfusion.Chart.WPF"/>       
        <add assembly="Syncfusion.SfMaps.WPF"/>        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ"
          tagPrefix="ej"/>
        <add namespace="Syncfusion.JavaScript.DataVisualization.Models"
          assembly="Syncfusion.EJ" tagPrefix="ej"/>
        <add namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ"
          tagPrefix="ej"/>
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ.Web"
          tagPrefix="ej"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="captimage.axd"
        type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ"/>
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools"
        type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
